@media screen and (max-width: 480px) {
    header .banner {
        display: flex;
        flex-direction: column;
    }
    /* Blog Section Design */
    .blog-section .container{
        display: flex;
        flex-direction: column;
    }
    .blog-section .container .menu{
        display: flex;
        flex-direction: column;
        background: 0;
    }
    .blog-section .container .blogs{
        display: flex;
        flex-direction: column;
    }
    /* Upcomming Match Section */
    .blog-section .container .matches{
        display: flex;
        flex-direction: column;
    }
    /* Footer Section Design */
    .footer-section .social-link a {       
        display: block;
    }
    .footer-section ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-section ul li{
        margin:10px 0;
    }
  }
@media screen and (max-width: 768px) {
    header .banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /* Blog Section Design */
    .blog-section .container{
        display: flex;
        flex-direction: column;
    }
    .blog-section .container .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background: 0;
    }
    .blog-section .container .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /* Upcomming Match Section */
    .blog-section .container .matches{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-section .special-btn button{
        display: block;
    }
    /* Footer Section Design */
    .footer-section .social-link .social-icons {       
        display: flex;
    }
    .footer-section ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-section ul li{
        margin:10px;
    }
  }